*.csv
*.tsv
*.txt
FACTS.lab.egg-info/
dist/
**/__pycache__
.ipynb_checkpoints/
*.sbatch
*.lcs
*.pkl
results/
*.sh
*.png
*.jpg
*.jpeg
*.pdf
/bin/concrete.py
/bin/factuality.py
/bin/gmm.py
/bin/lcsreader.py
/bin/analysis.py
/bin/spr.py
